<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
    <link href="css/material.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.2.0/jquery-confirm.min.css">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script src="js/jquery-3.1.1.min.js"></script>
    <script src="js/material.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.2.0/jquery-confirm.min.js"></script>
    <script>
       var api = 'http://api.wewalkthru.com/api/';
         //var api = 'http://localhost:3002/api/';
    </script>
</head>

<body>
    <nav class="navbar  navbar-static-top  navbar-default" style="margin-bottom: 0">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                    aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="dashboard">
                    <img alt="Brand" src="images/walkthru.png">
                </a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <div id="navbar-bottom-menu">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="dashboard">Dashboard</a></li>
                        <li><a href="adduser">ADD USER</a></li>
                        <li><a href="listwalkthru">List Walkthru</a></li>
                        <li><a href="users">View All Users</a></li>
                        <li >
<div class="dropdown">
  <button class="btn btn-primary dropdown-toggle   navbar-btn" type="button" data-toggle="dropdown"  aria-expanded="true"><a  style="color: white" id="loginname"></a>
  <span class="caret"></span></button>
  <ul class="dropdown-menu expandmenu">
    <li><a href="#" class="showedit">Edit Admin</a></li>
                         <li class="loginout"></li>

  </ul>
  </div>
        <div class="block m-t-xs"> <a href="#" style="color: white" id="lastlogin"></a></div>                  
                        </li>
                    </ul>
                    
                </div>
            </div>
        </div>
    </nav>


    <div id="editprofile" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Edit Profile</h4>
      </div>
      <div class="modal-body">
	<div class="container">
	<div class="mdl-grid">
		<div class="mainbox mdl-cell mdl-cell--5-col mdl-color--light">
			<div class="business-form">
					<form method="post" action="" class="editprofile">
						<div class="mdl-grid required">
							<div class="mdl-cell mdl-cell--6-col">
								<input class="input-md  form-control" maxlength="30" id="profile_fname" required name="firstname" placeholder="First Name" type="text"
								/>
							</div>
							<div class="mdl-cell mdl-cell--6-col">
								<input class="input-md form-control" maxlength="30" id="profile_lname" required name="lastname" placeholder="Last Name" type="text"
								/>
							</div>
						</div>
						<div class="mdl-grid  required">
							<div class="mdl-cell mdl-cell--6-col">
								<input class="input-md form-control" name="email" id="profile_email" required placeholder="Email" type="email" />
							</div>
							<div class="mdl-cell mdl-cell--6-col">
								<input class="input-md form-control" name="password" id="profile_password" placeholder="********" type="Password" />
							</div>
						</div>
						<div class="mdl-grid">
							<div class="mdl-cell mdl-cell--12-col text-right">
								<button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" name="Signup" id="Save" value="Save">Save</button>
							</div>
						</div>
					</form>
				</div>
		</div>
		</div>
	</div>

	</div>
	</div>

</div>
</div>


		<script>
			$(document).ready(function () {
                        $('.dropdown-toggle').dropdown();

                $('.showedit').click(function(){
$('#editprofile').modal('toggle');
      var loggeduser = JSON.parse(window.localStorage.getItem('authUser'));

				var data = {};
				data.userId =loggeduser.Id;

				data.token = window.localStorage.getItem('token');
				$.ajax({

					url: api + 'user/getuserdetails',
					type: "POST",
					data: data,


					contentType: "application/x-www-form-urlencoded; charset=utf-8",
					success: function (response) {

						if (response.success == false) {


						}
						if (response.success == true) {
							$("#profile_fname").val(response.user.FirstName);
							$("#profile_lname").val(response.user.LastName);
							$("#profile_email").val(response.user.Email);
							$("#profile_password").val(response.user.Password);
							$("#profile_isactive").attr('checked', response.user.IsActive);
							$("#profile_mailconfirmed").attr('checked', response.user.MailConfirmed);
							$("#profile_iscreator").attr('checked', response.user.IsCreator);
							$("#profile_isadmin").attr('checked', response.user.IsAdmin);

						}
						console.log(response);
					}
				});
				$.ajax({

					url: api + 'walkthrough/FindByUser',
					type: "POST",
					data: data,

					contentType: "application/x-www-form-urlencoded; charset=utf-8",
					success: function (response) {

						if (response.length > 0) {
							var html = "";
							for (i = 0; i < response.length; i++) {


								html += "<tr><th>" + response[i].Name + "</th>";
								if (!response[i].IsPublished) {
									var x = '<input name="IsPublished"  style="margin-bottom: 10px" type="checkbox" checked>';
									html += "<td>" + x + "</td>";
								}
								else {
									var x = '<input name="IsPublished" style="margin-bottom: 10px" type="checkbox">';
									html += "<td>" + x + "</td>";
								}
								if (response[i].IsPublic) {
									var x = '<input name="IsPublic"  style="margin-bottom: 10px" type="checkbox" checked>';
									html += "<td>" + x + "</td>";
								}
								else {
									var x = '<input name="IsPublic"  style="margin-bottom: 10px" type="checkbox">';
									html += "<td>" + x + "</td>";
								}

								html += "<td><a href='/userdashboard/edituser?id=" + response[i].Id + "'><i class='glyphicon glyphicon-trash'></i></a></td></tr>";
							}
							$("#UserWalkthru").append(html);
						}

						console.log(response);
					}
				});

				$(".editprofile").on('submit', function (event) {
					event.preventDefault();

					var user = {};
					user.Id = loggeduser.Id;
					user.FirstName = $("#profile_fname").val();
					user.LastName = $("#profile_lname").val();
					user.Email = $("#profile_email").val();
					user.Password = $("#profile_password").val();
					user.IsActive = $("#profile_isactive").is(':checked');
					user.MailConfirmed = $("#profile_mailconfirmed").is(':checked');
					user.IsCreator = $("#profile_iscreator").is(':checked');
					user.IsAdmin = $("#profile_isadmin").is(':checked');
					token = window.localStorage.getItem('token');
					user.token = token;
					$.ajax({
						url: api + 'user/updateContact',
						type: 'POST',
						data: user,
						contentType: "application/x-www-form-urlencoded; charset=utf-8",
						success: function (response) {
							if (response.success == true) {
$('#editprofile').modal('toggle');

       $('body').removeClass('modal-open');
$('.modal-backdrop').remove();                        /*
								$.alert({
									title: 'Success',
									content: 'Profile updated!',
								});
                                */
								console.log(response);
							}
						}
					});

				});

                })
                  

			});

		</script>
      </div>
    
    </div>

  </div>
</div>
    <script>
        var user = JSON.parse(window.localStorage.getItem('authUser'));
        if (user) {
        


            function formatDate(date) {
                var hours = date.getHours();
                var minutes = date.getMinutes();
                var ampm = hours >= 12 ? 'pm' : 'am';
                hours = hours % 12;
                hours = hours ? hours : 12; // the hour '0' should be '12'
                minutes = minutes < 10 ? '0' + minutes : minutes;
                var strTime = hours + ':' + minutes + ' ' + ampm;
                return date.getMonth() + 1 + "/" + date.getDate() + "/" + date.getFullYear() + "  " + strTime;
            }
                  $('#lastlogin').text(formatDate(new Date(user.LastLogin)));


            $('.loginout').html('<a onClick="logout()">Logout</a>');
              if (user.IsSuperAdmin) {
                $('#loginname').text('Super Admin');
            }
            if (user.IsAdmin == true && (user.IsSuperAdmin == false || user.IsSuperAdmin == null)) {
                $('#loginname').text(user.Company.CompanyName);
            }
            if(user.IsAdmin != true  && user.IsSuperAdmin != true && user.IsCreator==true){
            	 $('#loginname').text(user.displayName);

            }

        } else {
            window.location.href = './login';
        }
        function logout() {
            window.localStorage.removeItem('authUser');
 window.localStorage.removeItem('token');
  window.localStorage.removeItem('remember');
            window.location.href = './login';

        }
    </script>


    