body {
    background: #27d7a2;
}

.navbar-top-links li {
    display: inline-block;
}

.m-r-sm {
    margin-right: 10px;
}

.navbar-nav {
    margin-top: 1.5em;
    margin-right: 4em !important;
}

.navbar-static-top {
    background: #4787bb;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
}

.navbar-brand img {
    height: auto;
    width: 80px;
}
.footer-img img {
    height: auto;
    width: 80px;
}


.navbar-brand.page-scroll {
    width: 175px;
    height: auto;
}

.navbar-default .navbar-nav>li>a {
    color: white;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
    color: #1bcd7f;
    background-color: transparent;
}

.profile-element span img {
    height: 40px;
    width: 40px;
}

.navbar-top-links li button {
    background: transparent;
    color: #51ab6d;
    border: 1px solid grey;
    width: 35px;
    padding: 7px;
}

.navbar-toggle {
    position: relative;
    float: right;
    margin-right: 15px;
    padding: 9px 10px;
    margin-top: 30px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.navbar-top-links li a {
    background: #eee;
    height: 35px;
    padding: 7px 20px
}

.heading {
    text-align: center;
    margin: 50px 0;
    color: #fff;
}

.business-form p {
    font-size: 18px;
    font-weight: bold;
    line-height: 25px;
}

.business-form .form-control {
    height: 40px;
    color: #4d4d4d;
    background-color: #eaeff2;
    border: none;
}

.required .col-md-8 {
    margin-top: 10px;
}

.required .col-md-4 {
    margin-top: 10px;
}

.required .col-md-2 {
    margin-top: 10px;
}

.mdl-mini-footer {
    background-color: #EAEFF2;
}

.copy p {
    color: black;
    font-size: 16px;
    line-height: 1.8em;
}

.mainbox {
    margin-top: 30px;
}


/*login css start here*/

.card-container.card {
    max-width: 500px;
    padding: 40px 40px;
}

.btn-red {
    background: #F45439 !important;
    color: #FFF !important;
}

.btn {
    font-weight: 700;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
    outline: none;
}


/*
 * Card component
 */

.card {
    background-color: #F7F7F7;
    /* just in case there no content*/
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    margin-top: 50px;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}


/*
 * Form styles
 */

.profile-name-card {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0 0;
    min-height: 1em;
}

.reauth-email {
    display: block;
    color: #404040;
    line-height: 2;
    margin-bottom: 10px;
    font-size: 14px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin #inputEmail,
.form-signin #inputPassword {
    direction: ltr;
    height: 44px;
    font-size: 16px;
}

.form-signin input[type=email],
.form-signin input[type=password],
.form-signin input[type=text],
.form-signin button {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    z-index: 1;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin .form-control:focus {
    border-color: rgb(104, 145, 162);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgb(104, 145, 162);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgb(104, 145, 162);
}

.btn.btn-signin {
    background: #F45439 !important;
    color: #FFF !important;
    padding: 0px;
    font-weight: 700;
    font-size: 14px;
    height: 36px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
    -o-transition: all 0.218s;
    -moz-transition: all 0.218s;
    -webkit-transition: all 0.218s;
    transition: all 0.218s;
}

.btn.btn-signin:hover,
.btn.btn-signin:active,
.btn.btn-signin:focus {
    background-color: rgb(12, 97, 33);
}

.forgot-password {
    color: rgb(104, 145, 162);
}

.forgot-password:hover,
.forgot-password:active,
.forgot-password:focus {
    color: rgb(12, 97, 33);
}


/*login css end here*/

.bg {
    background: white;
    margin-top: 30px;
    border: 1px;
}
.input-sm {
    height: 30px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}

.wt-top {
    margin-top: 22px;
}

.thead-inverses {
    background: #eaeff2;
}

.mdl-data-table th {
    padding: 0 18px 12px 18px;
    text-align: left;
}

.mdl-data-table td {
    text-align: left;
}

tfoot tr th input {
    font-size: 12px;
    font-weight: normal;
    width: 100%;
    padding: 2px;
    box-sizing: border-box;
    border-radius: 3px;
    border: 1px solid gainsboro;
    outline: none;
}

.table tbody tr td a {
    color: #1bcd7f;
    text-decoration: none;
    text-align: center;
}

.table tbody tr td a:hover {
    color: #222222;
    text-decoration: none;
}

.box-top-bottom {
    margin: 45px 0 0 0;
}

.box-top-bottom1 {
    margin: 15px 0 15px 0;
}

.white-box:hover {
    color: #ffd400!important;
}

.white-box {
    height: 200px;
    width: 25%;
    display: table-cell;
    background: #428bca;
    color: white;
    border: 1px solid #428bca;
    text-align: center;
    text-decoration: none !important;
    vertical-align: middle;
    /* -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;*/
    -webkit-transition: all 250ms ease-in;
    -moz-transition: all 250ms ease-in;
    -o-transition: all 250ms ease-in;
    transition: all 250ms ease-in;
    -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 0 7px rgba(0, 0, 0, 0.05);
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.05);
}

.college-box span {
    font-size: 40px;
    padding: 25px;
}
