body {
    background: #27d7a2;
}

#container-height {
    min-height: 475px;
}


/*Navigation start here*/

.navbar-top-links li {
    display: inline-block;
}

.m-r-sm {
    margin-right: 10px;
}

.navbar-nav {
    margin-top: 1.5em;
    margin-right: 4em !important;
}

.navbar-static-top {
    background: #4787bb;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
}

.navbar-brand img {
    height: auto;
    width: 80px;
}

.navbar-brand.page-scroll {
    width: 175px;
    height: auto;
}

.navbar-default .navbar-nav>li>a {
    color: white;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
    color: #1bcd7f;
    background-color: transparent;
}

.profile-element span img {
    height: 40px;
    width: 40px;
}

.navbar-top-links li button {
    background: transparent;
    color: #51ab6d;
    border: 1px solid grey;
    width: 35px;
    padding: 7px;
}

.navbar-toggle {
    position: relative;
    float: right;
    margin-right: 15px;
    padding: 9px 10px;
    margin-top: 30px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.navbar-top-links li a {
    background: #eee;
    height: 35px;
    padding: 7px 20px
}


/*Navigation end here*/

.heading {
    text-align: center;
    margin: 50px 0;
    color: #fff;
}

.business-form p {
    font-size: 18px;
    font-weight: bold;
    line-height: 25px;
}

.business-form .form-control {
    display: block;
    color: grey;
    background: #e8ecec;
    font-size: 14px;
    height: 45px;
    width: 100%;
    border: 0;
    outline: 0;
    padding: 11px;
    box-sizing: border-box;
    margin: 0 0 0px;
    border-radius: 0px;
}

.mainbox {
    margin-top: 30px;
}


/*login css start here*/

.mdl-card {
    background-color: #F7F7F7;
    width: 500px;
    padding: 40px 40px;
    margin: 50px auto 25px;
}

.mdl-color--light {
    background-color: white;
}

.profile-img-card {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.profile-name-card {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0 0;
    min-height: 1em;
}

.reauth-email {
    display: block;
    color: #404040;
    line-height: 2;
    margin-bottom: 10px;
    font-size: 14px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin #inputEmail,
.form-signin #inputPassword {
    direction: ltr;
    height: 44px;
    font-size: 16px;
}

.form-signin button {
    background: #F45439;
	color:#fff;
    width: 100%;
    display: block;
    margin-bottom: 10px;
    z-index: 1;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.mdl-button:hover {
    color: black!important;
}

.form-signin input[type=email],
.form-signin input[type=password],
.form-signin input[type=text] {
    display: block;
    color: grey;
    background: #e8ecec;
    font-size: 14px;
    height: 45px;
    width: 100%;
    border: 0;
    padding: 11px;
    box-sizing: border-box;
    margin: 0 0 15px;
    border-radius: 0px;
}

.form-signin .form-control:focus {
    border-color: rgb(104, 145, 162);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgb(104, 145, 162);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgb(104, 145, 162);
}

.btn.btn-signin {
    background: #F45439 !important;
    color: #FFF !important;
    padding: 0px;
    font-weight: 700;
    font-size: 14px;
    height: 45px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
    -o-transition: all 0.218s;
    -moz-transition: all 0.218s;
    -webkit-transition: all 0.218s;
    transition: all 0.218s;
}

.btn.btn-signin:hover,
.btn.btn-signin:active,
.btn.btn-signin:focus {
    background-color: rgb(12, 97, 33);
}

.forgot-password {
    color: rgb(104, 145, 162);
}

.forgot-password:hover,
.forgot-password:active,
.forgot-password:focus {
    color: rgb(12, 97, 33);
}


/*login css end here*/

.dataTables_filter {
    float: right;
}

.pagination {
    display: inline-block;
    float: right;
    margin: 0 0px !important;
    border-radius: 4px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
}

.bg {
    background: white;
    margin-top: 30px;
    border: 1px;
}

.input-sm {
    height: 30px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
}

.wt-top {
    margin-top: 22px;
}

.thead-inverses {
    background: #eaeff2;
}

table.dataTable thead .sorting:after {
    opacity: 1!important;
    content: "\e150";
}

tfoot tr th input {
    color: black;
    font-size: 12px;
    font-weight: normal;
    width: 100%;
    padding: 2px;
    box-sizing: border-box;
    border-radius: 3px;
    border: 1px solid gainsboro;
    outline: none;
    text-indent: 5px;
}

tfoot tr th .form-control {
    display: inline-block;
    width: auto;
    height: 26px;
    padding: 3px 6px;
    font-size: 13px;
    font-weight: 100;
    line-height: 1.42857143;
    color: #757575;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.table tbody tr td a {
    color: #1bcd7f;
    text-decoration: none;
    text-align: center;
}

.table tbody tr td a:hover {
    color: #222222;
    text-decoration: none;
}

.box-top-bottom {
    margin: 45px 0 0 0;
}

.box-top-bottom1 {
    margin: 15px 0 15px 0;
}

.white-box:hover {
    color: #ffd400!important;
}

.white-box {
    height: 200px;
    width: 25%;
    display: table-cell;
    background: #428bca;
    color: white;
    border: 1px solid #428bca;
    text-align: center;
    text-decoration: none !important;
    vertical-align: middle;
    /* -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;*/
    -webkit-transition: all 250ms ease-in;
    -moz-transition: all 250ms ease-in;
    -o-transition: all 250ms ease-in;
    transition: all 250ms ease-in;
    -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 0 7px rgba(0, 0, 0, 0.05);
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.05);
}

.college-box span {
    font-size: 40px;
    padding: 25px;
}

#chartform input {
    font-size: 12px;
    border: 0px;
    border-radius: 3px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
    text-indent: 5px;
}
#chartform select{
    height: 34px;
    font-size: 12px;
    border: 0px;
    border-radius: 3px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    text-indent: 0px;
    }
    
.mdl-data-table td {
    text-align: left;
}

.mdl-data-table th {
    color: black!important;
    height: 40px!important;
    padding: 0 -1px 12px 18px;
    text-align: left;
}

.mdl-components .mdl-components__nav {
    display: inline-block;
    background: #fff;
    width: 270px;
    box-sizing: border-box;
    padding: 24px 0;
    margin: -16px 0 0 -16px;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    z-index: 1;
}

.mdl-components .mdl-components__link {
    margin: 16px;
    font-weight: 400;
    color: rgba(0, 0, 0, .66);
    position: relative;
    padding-left: 70px;
    min-height: 48px;
    display: table;
    line-height: 48px;
}

.docs-text-styling a {
    text-decoration: none;
}

.mdl-components .mdl-components__pages {
    display: inline-block;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    padding-bottom: 120px;
    margin-left: 20px;
}

.mdl-grid.mdl-grid--no-spacing>.mdl-cell {
    margin: 0;
}

.mdl-components__link-image {
    display: inline-block;
    margin: 0 10px;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #ddd;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 48px;
    border-radius: 50%;
    height: 46px;
    width: 46px;
}

.mdl-components__link-image i {
    margin: 14px;
    font-size: 18px;
}


/*Footer css start here*/

.footer-img img {
    height: auto;
    width: 80px;
}

.mdl-mini-footer {
    background-color: #EAEFF2;
}

.copy p {
    color: black;
    font-size: 16px;
    line-height: 1.8em;
}


/*Footer css end here*/

#chartdiv1,
#stepdiv,
#frequently,
#piechart,
#chartdiv {
    width: 100%;
    min-height: 500px;
}

.bg-danger {
    background-color: #fc8675!important;
    color: #fff!important;
}

.bg-info {
    background-color: #6bafbd;
    color: #fff;
}

.bg-warning {
    background-color: #f3ce85;
    color: #fff;
}

.bg-success {
    background-color: #65cea7;
    color: #fff;
}

.panel-stat3 {
    position: relative;
    overflow: hidden;
    padding: 25px 20px;
    margin-bottom: 20px;
    color: #fff;
    cursor: pointer;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

.m-top-none {
    margin-top: 0;
}

.fa-lg {
    font-size: 1.33333333em;
    line-height: .75em;
    vertical-align: -15%;
}

.m-left-xs {
    margin-left: 5px;
}

.panel-stat3 .stat-icon {
    position: absolute;
    top: 20px;
    right: 10px;
    font-size: 30px;
    opacity: .3;
}

.panel-stat3 .refresh-button {
    position: absolute;
    top: 10px;
    right: 10px;
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    color: rgba(0, 0, 0, .3);
}


/* Absolute Center Spinner */

.loading {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}


/* Transparent Overlay */

.loading:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}


/* :not(:required) hides these rules from IE9 and below */

.loading:not(:required) {
    /* hide "loading..." text */
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}

.loading:not(:required):after {
    content: '';
    display: block;
    font-size: 10px;
    width: 1em;
    height: 1em;
    margin-top: -0.5em;
    -webkit-animation: spinner 1500ms infinite linear;
    -moz-animation: spinner 1500ms infinite linear;
    -ms-animation: spinner 1500ms infinite linear;
    -o-animation: spinner 1500ms infinite linear;
    animation: spinner 1500ms infinite linear;
    border-radius: 0.5em;
    -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
    box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
}


/* Animation */

@-webkit-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-moz-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-o-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
.mdl-mini-footer {
    background-color: #EAEFF2;
    margin-top: 4%;
}

.select select{
height: 24px;
    font-size: 12px;
    margin-left: 5px;
    border: 1px solid #c1c1c1;
    border-radius: 3px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    text-indent: 0px;
}
.mdl-data-table th {
    color: white!important;
    height: 35px!important;
    text-align: left;
}
.thead-inverses {
    background: #4787bb!important;
}

table.dataTable{
    margin-left: auto;
}
.dropdown-menu>li>a {
    display: block;
    padding: 6px 12px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}
.dropdown-menu{
    border-radius: 0px;
}

/*********************Checkbox toggle*********************************/
.switch {
  position: relative;
  display: inline-block;
  width: 90px;
  height: 34px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #4787bb;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(55px);
  -ms-transform: translateX(55px);
  transform: translateX(55px);
}
.text {
  color: white;
}

.text:after {
  position: absolute;
  top: 7px;
  right: 5px;
  content: "Inactive";
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}
.text:before {
  position: absolute;
  top: 7px;
  left: 8px;
  content: "Active";
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

input + .slider + .text:after {
  opacity: 1;
}
input + .slider + .text:before {
  opacity: 0;
}


input:checked + .slider + .text:after {
  opacity: 0;
}

input:checked + .slider + .text:before {
  opacity: 1;
}


/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/******************************************************/

  .modal1 {
    display: none; 
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

/* Modal Content/Box */
.modal-content1 {
    background-color: #fefefe;
    margin: 15% auto; 
    border: 1px solid #888;
    border-radius: 0px;
    width: 60%; 
}


/* The Close Button */
.modal-header1 {
    padding: 15px;
    color: white;
    background-color: #4787bb;
    border: 1px solid #4787bb;
    min-height: 16.42857143px;
}
.modal-header1 h2 img{
    width: 50px;
    height: 35px;
}
.modal-body1 h1{
    margin-top: 30px;
}
.modal-body1 h1 a{
   text-decoration: none;
}
.close1 {
    color: #fff;
    float: right;
    font-size: 28px;
    font-weight: bold;
    opacity: 1;
}

.close1:hover,
.close1:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
#extensiodowloadmodal{
    z-index: 9999!important;

    }



body.emailverified{
	background: #27d7a2;
}
.mdl-color--bg{
	display: block;
    background-color: white;
    margin: 10% auto;
}
.verify-img{
	display: block;
    margin: auto;
    padding: 25px;
}
.verify-heading h2{
	margin: 15px;
	text-align: center;
}
.verify-heading h3{
	margin: 10px;
	text-align: center;
}
.verify-heading h5{
	margin: 15px;
	text-align: center;
}
.verify-heading a{
    font-weight: 600;
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
}

.loginout a{
	
	cursor:pointer!important;
}
