<%- include('header.ejs') %>

     <div class="container">
     <div id="extensiodowloadmodal" class="modal1">
  <div class="modal-content1">
    <div class="modal-header1">
    <span class="close1 downloadlater" data-dismiss="modal">&times;</span>
    <h2>Get WalkThru <img src="images/walkthru.png"></h2>
  </div>
   <div class="modal-body1">
    <div class="mdl-grid">
 <div class="mdl-cell mdl-cell--6-col">
 <h1>
 
 <!--<a href="#"  onclick="chrome.webstore.install()" class="downloadextension" id="install-link">Install Extension </a>
 -->
 <a href="download/walkthru-creatoR.crx"   download="walkthrucreator.crx" class="downloadextension" id="install-link">Install Extension </a>

 </h1>
 <br>
 <br>
<a class="btn btn-primary downloadlater"  data-dismiss="modal">Remind me later!</a>
 </div>
 <div class="mdl-cell mdl-cell--6-col">
 <h3><a href="#"> <img class="pull-right" src="images/monitor.png"></a></h3>
 </div>
  </div>
  </div>

</div>
</div>
           
             
               
                <div class="mdl-cell mdl-cell--3-col mdl-shadow--2dp text-center  otheruser  module">
                    <div class="college-box">
                        <a href="customizepopover" class="white-box">
                            <span class="fa fa-copy"></span>
                            <h3>Templates</h3>
                        </a>
                    </div>
                </div>
              
               

            </div>
         
          
    </div>
    <%- include('footer.ejs') %>
       
        <script>
		
		
		$('.downloadlater').click(function(){
		
		window.sessionStorage.setItem('hidepopup',1);
		console.log('hide popup');
		
		});
            var user = JSON.parse(window.localStorage.getItem('authUser'));

            if (user) {
               
                    if (chrome.app.isInstalled) {
                        $('#extensiodowloadmodal').modal('hide');
                    }else if(window.sessionStorage.getItem('hidepopup')){
					    $('#extensiodowloadmodal').modal('hide');

										
					}else{

                        $('#extensiodowloadmodal').modal('show');
                    }
            
                if (user.IsCreator == true && (user.IsSuperAdmin == false || user.IsSuperAdmin == null) && user.IsAdmin != true) {
                    $(".addcompanies,.adduser,.listuser,.allcompanies,.otheruser").remove();
                }
                if (user.IsSuperAdmin) {
                }
                if (user.IsAdmin == true && (user.IsSuperAdmin == false || user.IsSuperAdmin == null)) {
                    $(".addcompanies, .allcompanies").remove();
                }
                //console.log(user);
                var link = "editprofile?id=" + user.Id;
                console.log(link);
                $("#profile").attr('href', link);

            } else {
                window.location.href = './login';
            }

   $('.downloadextension').click(function(){

    var data = {};
                data.token = window.localStorage.getItem('token');
           data.DateOfDownload=new Date().toUTCString();
                $.ajax({
                    url: api + 'extensionAnalytics/Add',
                    type: 'POST',
                    data: data,
                    contentType: "application/x-www-form-urlencoded; charset=utf-8",
                    success: function (response) {
                        if (response) {
                            console.log(response);
                         

                        }
                       
                    }
                });



            })
       
        </script>
</body>
</html>
      