<%- include('header.ejs') %>
	<div class="container" id="container-height">
	<div class="mdl-grid">
		<div class="mainbox mdl-cell mdl-cell--8-col mdl-color--light mdl-shadow--2dp">
			<div class="business-form">
				<div class="panel-body">
					<form method="post" action="" class="editprofile">
						<div class="mdl-grid required">
							<div class="mdl-cell mdl-cell--6-col">
								<input class="input-md  form-control" maxlength="30" id="fname" required name="firstname" placeholder="First Name" type="text"
								/>
							</div>
							<div class="mdl-cell mdl-cell--6-col">
								<input class="input-md form-control" maxlength="30" id="lname" required name="lastname" placeholder="Last Name" type="text"
								/>
							</div>
						</div>
						<div class="mdl-grid  required">
							<div class="mdl-cell mdl-cell--6-col">
								<input class="input-md form-control" name="email" id="email" required placeholder="Email" type="email" />
							</div>
							<div class="mdl-cell mdl-cell--6-col">
								<input class="input-md form-control" name="password" id="password" placeholder="********" type="Password" />
							</div>
						</div>
						<div class="mdl-grid required">
							<label for="id_password1" class="control-label mdl-cell mdl-cell--4-col requiredField">Is Active<span class="asteriskField">*</span> </label>
							<div class="mdl-cell mdl-cell--2-col">
								<input name="isactive" placeholder="Is Active" id="isactive" type="checkbox" />
							</div>
							<label for="id_name" class="control-label mdl-cell mdl-cell--4-col  requiredField">Mail Confirmed<span class="asteriskField">*</span> </label>
							<div class="mdl-cell mdl-cell--2-col">
								<input name="mailconfirmed" placeholder="Mail Confirmed" id="mailconfirmed" type="checkbox" />
							</div>
						</div>
						<div class="mdl-grid required">
							<label for="id_company" class="control-label mdl-cell mdl-cell--4-col requiredField">Is Admin<span class="asteriskField">*</span> </label>
							<div class="mdl-cell mdl-cell--2-col">
								<input name="isadmin" placeholder="Is Admin" id="isadmin" type="checkbox" />
							</div>
							<label for="id_catagory" class="control-label mdl-cell mdl-cell--4-col requiredField"> Is Creator<span class="asteriskField">*</span> </label>
							<div class="mdl-cell mdl-cell--2-col">
								<input name="iscreator" placeholder="Is Creator" id="iscreator" type="checkbox" />
							</div>
						</div>
						<div class="mdl-grid">
							<div class="mdl-cell mdl-cell--12-col text-right">
								<button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" name="Signup" id="Save" value="Save">Save</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		</div>
	</div>
	<%- include('footer.ejs') %>



		<script>
			$(document).ready(function () {
				var data = {};
				data.userId = window.location.href.split('?')[1].split('=')[1];

				data.token = window.localStorage.getItem('token');
				$.ajax({

					url: api + 'user/getuserdetails',
					type: "POST",
					data: data,


					contentType: "application/x-www-form-urlencoded; charset=utf-8",
					success: function (response) {

						if (response.success == false) {


						}
						if (response.success == true) {
							$("#fname").val(response.user.FirstName);
							$("#lname").val(response.user.LastName);
							$("#email").val(response.user.Email);
							$("#password").val(response.user.Password);
							$("#isactive").attr('checked', response.user.IsActive);
							$("#mailconfirmed").attr('checked', response.user.MailConfirmed);
							$("#iscreator").attr('checked', response.user.IsCreator);
							$("#isadmin").attr('checked', response.user.IsAdmin);

						}
						console.log(response);
					}
				});
				$.ajax({

					url: api + 'walkthrough/FindByUser',
					type: "POST",
					data: data,

					contentType: "application/x-www-form-urlencoded; charset=utf-8",
					success: function (response) {

						if (response.length > 0) {
							var html = "";
							for (i = 0; i < response.length; i++) {


								html += "<tr><th>" + response[i].Name + "</th>";
								if (!response[i].IsPublished) {
									var x = '<input name="IsPublished"  style="margin-bottom: 10px" type="checkbox" checked>';
									html += "<td>" + x + "</td>";
								}
								else {
									var x = '<input name="IsPublished" style="margin-bottom: 10px" type="checkbox">';
									html += "<td>" + x + "</td>";
								}
								if (response[i].IsPublic) {
									var x = '<input name="IsPublic"  style="margin-bottom: 10px" type="checkbox" checked>';
									html += "<td>" + x + "</td>";
								}
								else {
									var x = '<input name="IsPublic"  style="margin-bottom: 10px" type="checkbox">';
									html += "<td>" + x + "</td>";
								}

								html += "<td><a href='/userdashboard/edituser?id=" + response[i].Id + "'><i class='glyphicon glyphicon-trash'></i></a></td></tr>";
							}
							$("#UserWalkthru").append(html);
						}

						console.log(response);
					}
				});

				$(".editprofile").on('submit', function (event) {
					event.preventDefault();

					var user = {};
					user.Id = window.location.href.split('?')[1].split('=')[1];
					user.FirstName = $("#fname").val();
					user.LastName = $("#lname").val();
					user.Email = $("#email").val();
					user.Password = $("#password").val();
					user.IsActive = $("#isactive").is(':checked');
					user.MailConfirmed = $("#mailconfirmed").is(':checked');
					user.IsCreator = $("#iscreator").is(':checked');
					user.IsAdmin = $("#isadmin").is(':checked');
					token = window.localStorage.getItem('token');
					user.token = token;
					$.ajax({
						url: api + 'user/updateContact',
						type: 'POST',
						data: user,
						contentType: "application/x-www-form-urlencoded; charset=utf-8",
						success: function (response) {
							if (response.success == true) {

								$.alert({
									title: 'Success',
									content: 'Profile updated!',
								});
								console.log(response);
							}
						}
					});

				});

			});

		</script>