<%- include('header.ejs') %>

	<div class="container container-height ">
		<div class="mdl-grid">
			<div class="mainbox mdl-cell mdl-cell--6-col mdl-color--light mdl-shadow--2dp">
				<div class="business-form">
					<div class="panel-body">
						<form class="edituser" method="post">

							<div class="mdl-grid required comadmin">
								<div class="mdl-cell mdl-cell--12-col">
									<label>Select Company</label>
									<select class="input-md  form-control" id="companies" required>
									</select>
								</div>
							</div>
							<div class="mdl-grid required">
								<div class="mdl-cell mdl-cell--6-col">
									<label>First Name</label>
									<input class="input-md  form-control" maxlength="30" id="fname" required name="firstname" placeholder="First Name" type="text"
									/>
								</div>
								<div class="mdl-cell mdl-cell--6-col">
									<label>Last Name</label>
									<input class="input-md form-control" maxlength="30" id="lname" required name="lastname" placeholder="Last Name" type="text"
									/>
								</div>
							</div>
							<div class="mdl-grid required">
								<div class="mdl-cell mdl-cell--6-col">
									<label>Email</label>
									<input class="input-md form-control" name="email" id="email" required placeholder="Email" type="email" />
								</div>
								<div class="mdl-cell mdl-cell--6-col">
									<label>Password</label>
									<input class="input-md form-control" name="password" id="password" placeholder="********" type="Password" />
								</div>
							</div>
							<div class="mdl-grid required">
								<label for="id_password1" class="control-label mdl-cell mdl-cell--3-col  requiredField">Is Active
									<span class="asteriskField">*</span>
								</label>
								<div class="mdl-cell mdl-cell--3-col">
									<label class="switch">

										<input name="isactive" placeholder="Is Active" id="isactive" type="checkbox" />
										<div class="slider round"></div>
										<div class="text"></div>
									</label>
								</div>
								<label for="id_name" class="control-label mdl-cell mdl-cell--3-col  requiredField">Mail Confirmed
									<span class="asteriskField">*</span>
								</label>
								<div class="mdl-cell mdl-cell--3-col">
									<label class="switch">

										<input name="mailconfirmed" placeholder="Mail Confirmed" id="mailconfirmed" type="checkbox" />
										<div class="slider round"></div>
										<div class="text"></div>
									</label>
								</div>
							</div>
							<div class="mdl-grid required">
								<label for="id_company" class="control-label mdl-cell mdl-cell--3-col requiredField">Is Admin
									<span class="asteriskField">*</span>
								</label>
								<div class="mdl-cell mdl-cell--3-col">
									<label class="switch">

										<input name="isadmin" placeholder="Is Admin" id="isadmin" type="checkbox" />
										<div class="slider round"></div>
										<div class="text"></div>
									</label>
								</div>
								<label for="id_catagory" class="control-label mdl-cell mdl-cell--3-col requiredField"> Is Creator
									<span class="asteriskField">*</span>
								</label>
								<div class="mdl-cell mdl-cell--3-col">
									<label class="switch">

										<input name="iscreator" placeholder="Is Creator" id="iscreator" type="checkbox" />
										<div class="slider round"></div>
										<div class="text"></div>
									</label>
								</div>
							</div>
							<div class="mdl-grid">
								<div class="mdl-cell mdl-cell--12-col text-right">
									<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" name="Signup" id="Save"
									 value="Save">Save</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
			<div class="mdl-cell mdl-cell--6-col wt-top">
				<table class="mdl-data-table mdl-cell mdl-cell--12-col mdl-js-data-table mdl-shadow--2dp table-bordered">
					<thead class="thead-inverses">
						<tr>
							<th class="mdl-data-table__cell--non-numeric">WalkThru Name</th>
							<th>Publish</th>
							<th>Make Public</th>
							<th>Delete</th>
						</tr>
					</thead>
					<tbody id="UserWalkthru">

					</tbody>
				</table>
			</div>
		</div>
	</div>
	<%- include('footer.ejs') %>



		<script>
			function ValidateEmail(email) {
				var expr = /^([\w-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;
				return expr.test(email);
			};
			$(document).ready(function () {
				var data = {};
				data.userId = window.location.href.split('?')[1].split('=')[1];
				data.token = window.localStorage.getItem('token');
				var User = JSON.parse(window.localStorage.getItem('authUser'));
				/*
				if(User){
					if(User.IsCreator==true){
						 $(".adduser,.listuser,.allcompanies,.otheruser").remove();
					}
					if(User.IsSuperAdmin){
						$.ajax({
						url:api+'company/getAllCompanies',
						type: 'POST',
						data: data,
						contentType: "application/x-www-form-urlencoded; charset=utf-8",
						success:function(response){
							if(response.success==true){
								var html = "";
								for(i=0;i<response.company.length;i++){
									if(User.Company.CompanyId == response.company[i].CompanyId){
										html +="<option value='"+response.company[i].CompanyId+"' selected>"+response.company[i].CompanyName+"</option>";
									}
									else{
										html +="<option value='"+response.company[i].CompanyId+"'>"+response.company[i].CompanyName+"</option>";
									}
								}
								$("#companies").html(html);
							}
							else{
								$.alert({
									title: 'Error',
									 content: response.message,
									});
							}
						
						}
					});
					}
					if(User.IsAdmin==true && User.IsSuperAdmin==false){
						$(".comadmin").remove();
					}
					
					var link  = "editprofile?id="+User.Id;
					$("#profile").attr('href',link);
		
				}
				*/


				$.ajax({

					url: api + 'user/getuserdetails',
					type: "POST",
					data: data,


					contentType: "application/x-www-form-urlencoded; charset=utf-8",
					success: function (response) {

						if (response.success == false) {


						}
						if (response.success == true) {

							$("#fname").val(response.user.FirstName);
							$("#lname").val(response.user.LastName);
							$("#email").val(response.user.Email);
							$("#password").val(response.user.Password);
							$("#isactive").attr('checked', response.user.IsActive);
							$("#mailconfirmed").attr('checked', response.user.MailConfirmed);
							$("#iscreator").attr('checked', response.user.IsCreator);
							$("#isadmin").attr('checked', response.user.IsAdmin);
							var companycurr = response.user.Company;
							if (User.IsSuperAdmin) {
								$.ajax({
									url: api + 'company/getAllCompanies',
									type: 'POST',
									data: data,
									contentType: "application/x-www-form-urlencoded; charset=utf-8",
									success: function (response) {
										if (response.success == true) {
											var html = "";
											for (i = 0; i < response.company.length; i++) {
												if (companycurr == response.company[i].CompanyId) {
													html += "<option value='" + response.company[i].CompanyId + "' selected>" + response.company[i].CompanyName + "</option>";
												}
												else {
													html += "<option value='" + response.company[i].CompanyId + "'>" + response.company[i].CompanyName + "</option>";
												}
											}
											$("#companies").html(html);
										}
										else {
											$.alert({
												title: 'Error',
												content: response.message,
											});
										}

									}
								});

							}
							else {
								$(".comadmin").remove();
							}



						}
						console.log(response);
					}
				});
				$.ajax({

					url: api + 'walkthrough/FindByUser',
					type: "POST",
					data: data,

					contentType: "application/x-www-form-urlencoded; charset=utf-8",
					success: function (response) {

						if (response.length > 0) {
							var html = "";
							for (i = 0; i < response.length; i++) {


								html += "<tr><td class='mdl-data-table__cell--non-numeric'>" + response[i].Name + "</td>";
								if (!response[i].IsPublished) {
									var x = '<input name="IsPublished"  id="IsPublished" class="feature" walkthroughId="' + response[i].Id + '" style="margin-bottom: 10px" type="checkbox" checked>';
									html += "<td>" + x + "</td>";
								}
								else {
									var x = '<input name="IsPublished" id="IsPublished" class="feature" walkthroughId="' + response[i].Id + '" style="margin-bottom: 10px" type="checkbox">';
									html += "<td>" + x + "</td>";
								}
								if (response[i].IsPublic) {
									var x = '<input name="IsPublic" id="IsPublic" class="feature"  walkthroughId="' + response[i].Id + '" style="margin-bottom: 10px" type="checkbox" checked>';
									html += "<td>" + x + "</td>";
								}
								else {
									var x = '<input name="IsPublic" id="IsPublic" class="feature" walkthroughId="' + response[i].Id + '" style="margin-bottom: 10px" type="checkbox">';
									html += "<td>" + x + "</td>";
								}

								html += "<td><a class='deleteWalkthrough' walkthroughId='" + response[i].Id + "'><i class='glyphicon glyphicon-trash'></i></a></td></tr>";
							}
							$("#UserWalkthru").append(html);
						}

						console.log(response);
						$('.feature').click(function () {
							var data = {};
							var type = $(this).attr('id');
							if ($(this).is(':checked')) {
								data[type] = true;
							} else {
								data[type] = false;
							}
							var id = $(this).attr('walkthroughid');


							var curr = $(this);

							data.token = window.localStorage.getItem('token');
							data.walkthroughId = id;

							$.ajax({

								url: api + 'walkthrough/update/data',
								type: "POST",
								data: data,

								contentType: "application/x-www-form-urlencoded; charset=utf-8",
								success: function (response) {
									$.alert({
										title: 'Success',
										content: 'Walkthru Updated',
									});
								}


							});


						});
						$('.deleteWalkthrough').click(function () {
							var id = $(this).attr('walkthroughid');
							var curr = $(this);
							$.confirm({
								title: 'Confirm!',
								content: "Are you Sure you want to delete this walkthru",
								//confirmButton: 'Yes',
								//cancelButton: 'No',
								//columnClass: 'confirm-width',
								//backgroundDismiss: false,
								buttons: {

									confirm: function () {
										//alert(33333333333);

										var data = {};


										data.token = window.localStorage.getItem('token');
										data.walkthroughId = id;
										$.ajax({

											url: api + 'walkthrough/deleteWalkthrough',
											type: "POST",
											data: data,

											contentType: "application/x-www-form-urlencoded; charset=utf-8",
											success: function (response) {

												curr.parents('tr').remove();
											}


										});
									}
								}
							});
						});

					}
				});

				$(".edituser").on('submit', function (event) {
					event.preventDefault();
					if (!ValidateEmail($("#email").val())) {
						$.alert({
							title: 'Error',
							content: "Invalid email address.",
						});
					} else {
						var logguser = JSON.parse(window.localStorage.getItem('authUser'));
						var user = {};
						if (logguser.IsSuperAdmin) {
							user.Company = $("#companies").val();
						}

						user.Id = window.location.href.split('?')[1].split('=')[1];


						user.FirstName = $("#fname").val();
						user.LastName = $("#lname").val();
						user.Email = $("#email").val();
						user.Password = $("#password").val();
						user.IsActive = $("#isactive").is(':checked');
						user.MailConfirmed = $("#mailconfirmed").is(':checked');
						user.IsCreator = $("#iscreator").is(':checked');
						user.IsAdmin = $("#isadmin").is(':checked');
						token = window.localStorage.getItem('token');
						user.token = token;
						$.ajax({
							url: api + 'user/updateContact',
							type: 'POST',
							data: user,
							contentType: "application/x-www-form-urlencoded; charset=utf-8",
							success: function (response) {
								if (response.success == true) {
									$.confirm({
										title: 'Success',
										content: 'User updated succesfully',
										buttons: {
											ok: function () {
												location.href = 'users';
											}
										}
									});
								} else {

									$.alert({
										title: 'Error',
										content: 'Unable to update!',
									});
								}
							}
						});

					}

				});

			});

		</script>