<!DOCTYPE html>
<html>
<head>
  <title></title>
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
    <link href="css/material.min.css" rel="stylesheet">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script src="js/jquery-3.1.1.min.js"></script>
    <script src="js/material.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</head>
<body  class='emailverified' >
<div class="container" id="container-height">
<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--8-col mdl-color--bg mdl-shadow--2dp verify-heading">
  <h2>Email Address verified.</h2>
    <img class="verify-img" src="images/checked.png">
    <h3>Your Email Successfully Verified, Thank you!</h3>
    <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--6-col">
      <a href="http://client.wewalkthru.com/">Return to Dashboard</a>
      </div>
      <div class="mdl-cell mdl-cell--6-col text-right">
      </div>
    </div>
    
  </div>
</div>
  
</div>

</body>
</html>