<%- include('header.ejs') %>
    <div class="container" id="container-height">
    <div class="mdl-grid">
        <div class="mainbox mdl-cell mdl-cell--8-col mdl-color--light mdl-shadow--2dp">
            <div class="business-form">
                <div class="panel-body">
                    <span class="wt-embed">
                    <label> Public Key : </label> "<p class='embed'></p>" 
                     </span>
                    <div class="wt-include">
                       <label> Include</label><br> <p>"&lt;script src="api.wewalkthru.com/walkthroughfiles/client-walkthru.js"&gt;&lt;/script&gt"</p>

                        <p>initialize the script by calling this function in your document ready function</p>
                        
                       <span class="wt-embed">  walkthruInit ('playwalk' ,  <p class='embed'></p>);</span>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
    <%- include('footer.ejs') %>

        </html>




        <script>
		
       


            var user = JSON.parse(window.localStorage.getItem('authUser'));
           $(".embed").text(user.Company.CompanyId)


            if (user) {
                 if (user.IsAdmin == true && (user.IsSuperAdmin == false || user.IsSuperAdmin==null)) {
                    $(".comadmin").remove();
                }
                if (user.IsCreator == true) {
                    $(".adduser,.listuser,.allcompanies,.otheruser").remove();
                }
                if (user.IsSuperAdmin) {
                    $.ajax({
                        url: api + 'company/getAllCompanies',
                        type: 'POST',
                        data: data,
                        contentType: "application/x-www-form-urlencoded; charset=utf-8",
                        success: function (response) {
                            if (response.success == true) {
                                var html = "<option value=''>Select Company</option>";
                                for (i = 0; i < response.company.length; i++) {
                                    html += "<option value='" + response.company[i].CompanyId + "'>" + response.company[i].CompanyName + "</option>";
                                }
                                $("#companies").html(html);
                            }
                            else {
                                $.alert({
                                    title: 'Error',
                                    content: response.message,
                                });
                            }
                        }
                    });
                }
               

                var link = "editprofile?id=" + user.Id;
                $("#profile").attr('href', link);

            }

            $(document).ready(function () {


                $(".adduser").on('submit', function (event) {
				
				
                    event.preventDefault();
					 if (!ValidateEmail($("#email").val())) {
						 $.alert({
                                    title: 'Error',
                                    content:"Invalid email address.",
                                });
						}else{
					
					
                    var user = JSON.parse(window.localStorage.getItem('authUser'));
                    if (user.IsSuperAdmin)
                        var user = {};
                    user.Company = $("#companies").val();

                    user.FirstName = $("#fname").val();
                    user.LastName = $("#lname").val();
                    user.Email = $("#email").val();
                    user.Password = $("#password").val();
                    user.IsActive = $("#isactive").is(':checked');
                    //user.MailConfirmed = $("#mailconfirmed").is(':checked');
                    user.IsCreator = $("#iscreator").is(':checked');
                    user.IsAdmin = $("#isadmin").is(':checked');
                    token = window.localStorage.getItem('token');
                    user.token = token;
                    $.ajax({
                        url: api + 'user/adduser',
                        type: 'POST',
                        data: user,
                        contentType: "application/x-www-form-urlencoded; charset=utf-8",
                        success: function (response) {
                            if (response.success == true) {
                                //alert(response.message);
                                $.confirm({
                                    title: 'Success',
                                    content: 'User Added succesfully',
                                    buttons: {
                                        ok: function () {
                                            location.href = 'users';
                                        }
                                    }
                                });
                            }
                            else {
                                $.alert({
                                    title: 'Error',
                                    content: response.message,
                                });
                                //	alert(response.message);
                            }
                        }
                    });
					
					
					}

                });

            });

        </script>
        <style>
       .wt-embed {

                display: -webkit-inline-box;
        }
        .wt-include{
                background: #f1f1f1;
        padding: 30px;
        }
        .wt-include p{
            font-size: 14px;
            font-weight: 500;
            line-height: 26px;
                word-spacing: 2px;
        }
        </style>