
   <footer class="mdl-mini-footer">
  <div class="mdl-mini-footer__left-section">
  <a class="footer-img" href="dashboard">
      <img alt="Brand" src="images/walkthru.png">
  </a>
  </div>
  <div class="copy text-center">
        <p>&copy Copyright 2017 WalkThru Inc. All rights reserved.</p>
    </div>
</footer>
  
</body>

</html>

