<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/style.css">
	<script src="js/jquery-3.1.1.min.js"></script>
    <script>
        var api = 'http://api.wewalkthru.com/api/';

    </script>
</head>


<body>
    <nav class="navbar  navbar-static-top  navbar-default" style="margin-bottom: 0">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                    aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="/">
                    <img alt="Brand" src="images/walkthru.png">
                </a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <div id="navbar-bottom-menu">
                    <ul class="nav navbar-nav navbar-right">

                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <div class="container" id="container-height">

        <div class="mdl-card mdl-shadow--2dp">
            <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
           <% if(query.action=='verify'){ %>

            <h3 class="text-center">Change Password</h3>
            <p id="message" class="profile-name-card"></p>
            <form class="form-signin changepass">
                <span id="reauth-email" class="reauth-email"></span>
                <input type="password" id="password" class="form-control" placeholder="Password" required>
                <span id="reauth-email" class="reauth-email"></span>

                <input type="password" id="passwordconf" class="form-control" placeholder="Confirm Password" required>
                <input type="hidden" value="<%= query.verifylink %>" id="verifylink" required>

                <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" id="change" type="submit">Reset</button>
            </form>
            <!-- /form -->

             <%  }else{ %>

            <p id="message" class="profile-name-card"></p>
            <h3 class="text-center">Forgot Password</h3>

            <form class="forgotform form-signin">
                <span id="reauth-email" class="reauth-email"></span>
                <input type="email" id="useremail" class="form-control" placeholder="Email address" required autofocus>

                <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" id="forgot" type="submit">Submit</button>
            </form>
            <!-- /form -->

        <% } %>
            <a href="/login" class="forgot-password">
               Login?
            </a>
        </div>
        <!-- /card-container -->

    </div>
     <%- include('footer.ejs') %>



<script>
    $(document).ready(function () {
        $('.changepass').on('submit', function (event) {
            event.preventDefault();
            if ($('#password').val() == $('#passwordconf').val()) {

                $.ajax({
                    url: api + 'user/confirmpassword/' + $('#verifylink').val() + '/' + $('#password').val(),
                    type: "GET",

                    success: function (response) {
                        $('#useremail').val('');
						$('#password').val('');
						$('#passwordconf').val('');
                        console.log(response.status);
                        if (response.success == false) {
                            $("#message").text("Something went wrong,please try again later.").css("color", "red");

                        } else {


                            $("#message").text("Password successfuly changed!.").css("color", "green");

                        }

                    }
                });



            } else {

                $("#message").text("Confirm password does'nt matched with password").css("color", "red");


            }

        });

        $('.forgotform').on('submit', function (event) {
            event.preventDefault();
            event.stopImmediatePropagation();
            var data = {};
            data.email = $('#useremail').val();

            console.log(data);
            $.ajax({
                url: api + 'user/forgotpassword',
                type: "POST",
                data: data,

                contentType: "application/x-www-form-urlencoded; charset=utf-8",
                success: function (response) {
                    $('#useremail').val('');
                    console.log(response.status);
                    if (response.success == false && response.message == undefined) {
                        $("#message").text("Something went wrong,please try again later.").css("color", "red");

                    } else if (response.success == false && response.message == 'user_not_found') {

                        $("#message").text("No user found with this email").css("color", "red");

                    }

                    else {


                        $("#message").text("Mail sent to your email account with reset link.").css("color", "green");

                    }

                }
            });
            $('#useremail').val(data.email);
            $('#password').val(data.password);
        });
    });

</script>