<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link href="css/material.min.css" rel="stylesheet">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />

    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script>
        var api = 'http://api.wewalkthru.com/api/';
        //var api = 'http://localhost:3002/api/';
    </script>
</head>

<body>
    <nav class="navbar  navbar-static-top  navbar-default" style="margin-bottom: 0">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                    aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="dashboard">
                    <img alt="Brand" src="images/walkthru.png">
                </a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <div id="navbar-bottom-menu">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/userdashboard/analytics">Analytics Dashboard</a></li>
                        <!--   <li><a href="/userdashboard/listwalkthru"></a></li>
                        <li><a href="#"></a></li>
                        <li>
                            <div class="profile-element"> <span>
                            <img  src="images/header-logo2.png">
                             </span>
                             <span class="dividers">|
                             </span>
                                <span> <a href="#"  class="dropdown-toggle company-name" data-toggle="dropdown">Company Name</a>
                                <ul class="dropdown-menu profile-panel">
                    <li><a href="#"> Profile</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Log out</a></li>
                </ul>
                             </span>
                            </div>
                        </li> -->
                    </ul>
                </div>
            </div>
        </div>
    </nav>