<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link href="css/material.min.css" rel="stylesheet">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script src="js/jquery-3.1.1.min.js"></script>
    <script src="js/material.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script>
       // var api='http://api.wewalkthru.com/api/';
      var api = 'http://localhost:3002/api/';
      var user = JSON.parse(window.localStorage.getItem('authUser'));
        if (user) {
            var remember=window.localStorage.getItem('remember');
            if(remember){
                                window.location.href = './dashboard';
            }

        }
    </script>
</head>

<body>
    <nav class="navbar  navbar-static-top  navbar-default" style="margin-bottom: 0">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                    aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="/">
                    <img alt="Brand" src="images/walkthru.png">
                </a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <div id="navbar-bottom-menu">
                    <ul class="nav navbar-nav navbar-right">

                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="mdl-card mdl-shadow--2dp">
            <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
            <img id="profile-img" class="profile-img-card" src="images/avatar.png" />
            <p id="message" class="profile-name-card"></p>
            <form class="form-signin" id="loginform">
                <span id="reauth-email" class="reauth-email"></span>
                <input type="email" id="useremail" class="form-control" placeholder="Email address" required autofocus>
                <input type="password" id="password" class="form-control" placeholder="Password" required>
                <div id="remember" class="checkbox">
                    <label>
                        <input type="checkbox" name="rememberme" id="rememberme" value="1"> Remember me
                    </label>
                </div>
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" id="login" type="submit">Sign in</button>
            </form>
            <!-- /form -->
            <a href="/forgot" class="forgot-password">
                Forgot the password?
            </a>
        </div>
    </div>
    <%- include('footer.ejs') %>


    <script>
    
        $(document).ready(function () {


            $('#loginform').on('submit', function (event) {
                event.preventDefault();
                event.stopImmediatePropagation();
                var data = {};
                data.email = $('#useremail').val();
                data.password = $('#password').val();
                console.log(data);
                $.ajax({
                    url: api + 'user/signin',
                    type: "POST",
                    data: data,

                    contentType: "application/x-www-form-urlencoded; charset=utf-8",
                    success: function (response) {
                        console.log(response);
                        if (response.success == false) {
                            $("#message").text("Invalid Username or Password").css("color", "red");

                        }
                        if (response.success == true) {
                            if($('#rememberme').val()){
                                        console.log($('#remember').val());
                        
                             window.localStorage.setItem('remember',$('#rememberme').val());

                            }
                             window.localStorage.setItem('token', response.token);
                             window.localStorage.setItem('authUser', JSON.stringify(response.userInfo));

                         window.location.href = './dashboard';

                        }
                        console.log(response);
                    }
                });
                $('#useremail').val(data.email);
                $('#password').val(data.password);
            });
        });

    </script>