<%- include('header.ejs') %>
    <div class="container" id="container-height">
    <div class="mdl-grid">
        <div class="mainbox mdl-cell mdl-cell--8-col mdl-color--light mdl-shadow--2dp">
            <div class="business-form">
                <div class="panel-body">
                    <form class="adduser" method="post">
                        <div class="mdl-grid required comadmin ">
                            <div class=" mdl-cell mdl-cell--12-col ">
                            <label>Select WalkThru</label>
                                <select class="input-md  form-control" id="companies" required>
                                </select>
                            </div>
                        </div>
                        <div class="mdl-grid required">
                        <div class="mdl-cell mdl-cell--12-col">
                        <label>Site URL </label>
                                <input class="input-md  form-control" maxlength="30" id="fname" required name="firstname" placeholder="Site URL" type="text"
                                />
                            </div>
                            <div class=" mdl-cell mdl-cell--12-col">
                            <label>New Walkthru Name</label>
                                <input class="input-md form-control" maxlength="30" id="lname" required name="lastname" placeholder="New Walkthru Name" type="text"
                                />
                            </div>
                        </div>

                        <div class="mdl-grid">
                            <div class="mdl-cell mdl-cell--12-col text-right">
                                <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" name="Signup" id="Save" value="Save">Migrate</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        </div>
    </div>
    <%- include('footer.ejs') %>

        </html>




        <script>
		function ValidateEmail(email) {
        var expr = /^([\w-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;
        return expr.test(email);
    };
            var data = {};


            data.token = window.localStorage.getItem('token');
            var user = JSON.parse(window.localStorage.getItem('authUser'));
            console.log(user);


            if (user) {
                 if (user.IsAdmin == true && (user.IsSuperAdmin == false || user.IsSuperAdmin==null)) {
                    $(".comadmin").remove();
                }
                if (user.IsCreator == true) {
                    $(".adduser,.listuser,.allcompanies,.otheruser").remove();
                }
                if (user.IsSuperAdmin) {
                    $.ajax({
                        url: api + 'company/getAllCompanies',
                        type: 'POST',
                        data: data,
                        contentType: "application/x-www-form-urlencoded; charset=utf-8",
                        success: function (response) {
                            if (response.success == true) {
                                var html = "<option value=''>Select Company</option>";
                                for (i = 0; i < response.company.length; i++) {
                                    html += "<option value='" + response.company[i].CompanyId + "'>" + response.company[i].CompanyName + "</option>";
                                }
                                $("#companies").html(html);
                            }
                            else {
                                $.alert({
                                    title: 'Error',
                                    content: response.message,
                                });
                            }
                        }
                    });
                }
               

                var link = "editprofile?id=" + user.Id;
                $("#profile").attr('href', link);

            }

            $(document).ready(function () {


                $(".adduser").on('submit', function (event) {
				
				
                    event.preventDefault();
					 if (!ValidateEmail($("#email").val())) {
						 $.alert({
                                    title: 'Error',
                                    content:"Invalid email address.",
                                });
						}else{
					
					
                    var user = JSON.parse(window.localStorage.getItem('authUser'));
                    if (user.IsSuperAdmin)
                        var user = {};
                    user.Company = $("#companies").val();

                    user.FirstName = $("#fname").val();
                    user.LastName = $("#lname").val();
                    user.Email = $("#email").val();
                    user.Password = $("#password").val();
                    user.IsActive = $("#isactive").is(':checked');
                    //user.MailConfirmed = $("#mailconfirmed").is(':checked');
                    user.IsCreator = $("#iscreator").is(':checked');
                    user.IsAdmin = $("#isadmin").is(':checked');
                    token = window.localStorage.getItem('token');
                    user.token = token;
                    $.ajax({
                        url: api + 'user/adduser',
                        type: 'POST',
                        data: user,
                        contentType: "application/x-www-form-urlencoded; charset=utf-8",
                        success: function (response) {
                            if (response.success == true) {
                                //alert(response.message);
                                $.confirm({
                                    title: 'Success',
                                    content: 'User Added succesfully',
                                    buttons: {
                                        ok: function () {
                                            location.href = 'users';
                                        }
                                    }
                                });
                            }
                            else {
                                $.alert({
                                    title: 'Error',
                                    content: response.message,
                                });
                                //	alert(response.message);
                            }
                        }
                    });
					
					
					}

                });

            });

        </script>