<%- include('headereditor.ejs') %>



<style>
    h5{
    margin-top: 0px;
    margin-bottom: 0px;
    }
        .template{
        width: 100%;
        height: 200px;
        border: 1px solid white;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
    }
    .template img {
                   width: 85%;
    height: 160px;
    padding: 10px;
    margin-left: 15px;
    }
    .components{
        height:60px;
        /*border:1px solid grey;*/
    }
    hr {
        margin-top: 10px!important;
        margin-bottom: 0px!important;
        padding: 0!important;
    }
    #templatesPane{
        height:480px;
            overflow-y: auto;
            padding-right:0px;
    }
    #chosen-value,#chosen-value-text,#hover-color{
        width: 70px;
    }
    #control-label {
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    border: 1px solid #ffffff;
    background: #008edb;
    color: white;
    text-transform: uppercase;
    font-family: "Roboto" , sans-serif;
}

#controls label{
    font-weight: 500!important;
        font-family: "Segoe UI",Arial,sans-serif;
}
 #status-bar {
    text-align: left;
    font-size: 18px;
    font-weight: 500;
    border: 1px solid #ffffff;
    background: #008edb;
    color: white;
    text-transform: uppercase;
    font-family: "Roboto" , sans-serif;
}
    #controls{padding:5px;}
    .control-pane{

        border:1px solid #ffffff;
            background: white;
        padding:0px;
            margin-left: -15px;
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
        
    }
    .template.active{
         background: transparent;
    border: 5px solid #ffffff;
	


    }
    .save-panel-pane{
        height:55px;
    }
    #controls input {
        width: 21%;
    font-size: 12px;
    border: 1px solid rgba(128, 128, 128, 0.47);
    height: 25px;
    text-indent: 5px;
        margin-right: 35px;
    }
    #controls .margin-wt input {
               width: 75%;
    border: 1px solid rgba(128, 128, 128, 0.47);
    height: 25px;
    text-indent: 2px;
    }
    #controls select { 
            float: right;
    clear: both;
    width: 21%;
    font-size: 12px;
    border: 1px solid rgba(128, 128, 128, 0.47);
    height: 25px;
    text-indent: 5px;
        margin-right: 35px;
    }
    #font-wrapper input,#button-text{
        float: right;
    }
    #font-wrapper{
        margin-top: 10px;
    }
    .hover-wt{
        display: inline-block;
         margin-top: 5px;
    }
    .buttonbar-wt{
            padding: 10px;
    }
    #checkpoint-name{
        color:black;
    }
    .buttonbar-wt button ,#save-cp{
              background: white;
    border: 1px solid #aaaaaa;
       font-size: 14px;
    font-weight: 600;
    font-family: "Segoe UI",Arial,sans-serif;
    padding: 6px 12px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    color:black;

    }
    .buttonbar-wt button:hover,#save-cp:hover {
           background: #459aff;
    color: white;
    box-shadow:0 6px 6px 0 rgba(0,0,0,.14), 0 8px 6px 3px rgba(0,0,0,.2), 0 8px 10px 0 rgba(0,0,0,.12);
    }
    .components button {
            background: white;
    border: 1px solid #aaaaaa;
    border-radius: 3px;
    padding: 5px 6px;
        margin: 10px;
    font-weight: 600;
    
    }
    .components select{
     height: 30px;
    
}

    .template label{
        padding: 0px 0px 0px 10px;
    }

#templatesPane::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

#templatesPane::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

#templatesPane::-webkit-scrollbar-thumb
{
	background-color: #0ae;
	
	background-image: -webkit-gradient(linear, 0 0, 0 100%,
	                   color-stop(.5, rgba(255, 255, 255, .2)),
					   color-stop(.5, transparent), to(transparent));
}
.buttonbar-wt select{
        font-size: 14px;
    font-weight: 600;
    font-family: "Segoe UI",Arial,sans-serif;
   height: 33px;
    border: 1px solid #b1acac;
    width: 20%;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}
#popover-status{
        padding-top: 16px;
    color: white;
    font-weight: 500;
}
#logo-color-wt{
    width: 18%;
}
#viewSection{
    padding-left:0px;
}

@media (min-width: 576px) {
    .hex {
        margin-left: 20px!important;
    }
    #controls input{
        margin-right: 0px!important;
    }
 }
 @media (min-width: 768px)  {
     .hex{
        margin-left: 20px!important;
    }
    #controls input{
        margin-right: 0px!important;
    }
 }
 @media (min-width: 992px)  {
   .hex {
           margin-left: 20px!important;
    }
    #controls input{
        margin-right: 35px!important;
    }
 }
 @media (min-width: 1199px) {
    .hex {
           margin-left: 44px!important;
    }
}
 @media (min-width: 1350px) {
   .hex {
           margin-left: 64px!important;
    }
 }

    </style>
    <div class="container-fluid">
<div class='row'>
    <div class='col-md-12'>
        <div class='buttonbar-wt'>
            <button id="active-popover">Active Popover</button>
            <button id="show-checkpoint">Show CheckPoint</button>
            <button id="save-checkpoint">Save Checkpoint</button>
            <button id="save-wt">Publish</button>
            <button id="undo-wt">Undo</button>
            <button id="remove-component">Remove component </button>
            <button id="reset-css">Default Css</button>
            <select class="control-flow-wt">
                <option value="default">Flow Options</option>
                <option value='close'>End Using close button</option>
                <option value='out'>End On clicking outsidePopover</option>

            </select>
              <select id="logo-color-wt">
                <option value="default">Walkthru Logo Options</option>
                <option value='white.png'>White</option>
                <option value='greyed.png'>Black</option>

            </select>
            <select id="stepinfo-options-wt">
                <option value="0">Step Info Options</option>
                <option value='default'>Step 1/1</option>
                <option value='of'>1 of 1</option>
                <option value='/'>1/1</option>
            </select>

        </div>

    </div>
    
</div>
        <hr>
        <div class="row row-eq-height">
            <div class="col-md-3" id="templatesPane">
                <div id="control-label"><span>Templates</span></div>
                

            </div>
            <div class="col-md-6" id="viewSection">
                <div id="status-bar"><span> Your Active Popover </span></div>
                <!--<div class="col-xs-12 components">
                    <button id="remove-component">Remove component <i class='fa fa-times' style='color: red;font-size: 16px;'></i></button>
                      <button id="reset-css">Default Css</button>
                    <select class="control-flow-wt">
                        <option value="default">Flow Options</option>
  <option value='close'>End Using close button</option>
  <option value='out'>End On clicking outsidePopover</option>
  
</select>

                </div>-->
               
                

                <div id="parent" style="z-index: 2147483647; top: 103px; left: 50%; display: block;position:absolute; "> &nbsp</div>
            </div>
            <div class="col-md-3 control-pane">
                <div id="control-label"><span id="component-settings">Settings</span></div>
                <div id="controls"></div>
            </div>
        </div>
    </div>
    <%- include('footer.ejs') %>


        </body>
         <script>
            var data = {};
            data.token = window.localStorage.getItem('token');
            
        </script>
        <script src="editor/js/bootstrap-tour-standalone.js"></script>
        <script src="editor/js/handler.js"></script>
       
    <script>
            $.ajax({
                url: api + 'epc/getAll',
                type: 'POST',
                data: data,
                contentType: "application/x-www-form-urlencoded; charset=utf-8",
                success: function (response) {
                    for(var i=0;i<response.length;i++){
                        var html = "<div class='template'><img src='../images/"+response[i].PreviewImage+"'><label>"+response[i].TemplateName+":</label> WeWalkthru<input type='hidden' value='"+response[i].TemplateId+"'></div>";
                        $('#templatesPane').append(html);
                    }
                 
 $('.template').on('click', function (e) {
                e.stopImmediatePropagation();
                $('.template').removeClass('active');
                $(this).addClass('active');
                 //var currentPosition = $('.template').index(this);
                 var x = "<div class='template active'>"+$(this).html()+"</div>";
               $(x).insertAfter('#control-label');
               $(this).remove();
                
               
               
                initializeTemplate($(this).find('input').val());
            });
                    }
            });

    </script>

        </html>