<%- include('header.ejs') %>
	<link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />


	<div class="container-fluid" id="container-height">
		<div class="mdl-grid">
			<div class="mdl-cell mdl-cell--12-col">
				
				<table id="mygrid" class="mdl-data-table mdl-cell mdl-cell--12-col mdl-js-data-table mdl-shadow--2dp table-bordered ">
					<thead class="thead-inverses">
						<tr>
							<th class="mdl-data-table__cell--non-numeric">WalkThru Name</th>
							<th>Walkthru User</th>
							<th>Walkthru Company</th>
							
							<th>Transfer walkthru</th>
						</tr>
					</thead>
					<tfoot>
						<tr>
							<th class="mdl-data-table__cell--non-numeric">WalkThru Name</th>
							<th>Walkthru User</th>
							<th>Walkthru Company</th>
							
							<th>Transfer walkthru</th>
							
						</tr>
					</tfoot>
					<tbody id="walkthru">

					</tbody>
				</table>
			</div>
		</div>
	</div>
	<%- include('footer.ejs') %>


		<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
		<script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>
		<style>
			tfoot input {
				width: 100%;
				padding: 3px;
				box-sizing: border-box;
			}

			tfoot {
				display: table-header-group;
			}
		</style>


		<script>
		
			$(document).ready(function () {
				var data = {};
				//data.userId = window.location.href.split('?')[1].split('=')[1];
				data.token = window.localStorage.getItem('token');
				var User = JSON.parse(window.localStorage.getItem('authUser'));
			

				
				
				$.ajax({

					url: api + 'walkthrough/withuserdetails',
					type: "GET",
					data:data,
					contentType: "application/x-www-form-urlencoded; charset=utf-8",
					success: function (response) {
						console.log(response);
						var html = "";
						for(var i=0;i<response.length;i++){
							html += "<tr><td>" + response[i].Name + "</td>";
							if(response[i].User)
							html += "<td>" + response[i].User.FirstName + "</td>";
							else
							html += "<td>No User</td>";
							if(response[i].Company){
							html += "<td>" + response[i].Company.CompanyName + "</td>";
							html += "<td><select>";
								for(var j=0;j<response[i].Company.Users.length;j++){
								html += "<option value='"+response[i].Company.Users[j].Id+"'>" + response[i].Company.Users[j].FirstName + "</option>";
							}
							html += "</select></td>";
							
							}
							else{
							html += "<td>No Company</td>";
							html += "<td>Cannot Transfer</td></tr>";
							}
							


						}
						$('#walkthru').html(html);

						// Setup - add a text input to each footer cell
						$('#mygrid tfoot th').each(function (index, val) {
							var title = $(this).text();

							var stat = '';
							var select = '';
							if (index == 5 || index == 6 || index == 9) {
								stat = 'class="hide filter_input"';


							}

							

							$(this).html(select + '<input type="text" ' + stat + ' placeholder="' + title + '" />');
						});


						$('.filter_select').on('change', function () {




							$(this).next('.filter_input:hidden').val($(this).val());

							$(this).next('.filter_input:hidden').trigger("change");
							console.log($(this).next('.filter_input:hidden').val());




						});

						var table = $('#mygrid').DataTable();

						// Apply the search
						table.columns().every(function () {
							var that = this;

							$('input', this.footer()).on('keyup change', function () {
								if (that.search() !== this.value) {
									that.search(this.value).draw();
								}
							});
						});
					}
				});

			});

		</script>