<%- include('header.ejs') %>

	<link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />

	<div class="container-fluid" id="container-height">
			<div class="mdl-grid">
				<div class="mdl-cell mdl-cell--12-col">
					<table id="list2"></table>
					<div id="pager2"></div>
					<table id="mygrid" class="mdl-data-table mdl-cell mdl-cell--12-col  mdl-shadow--2dp table-bordered">

						<thead class="thead-inverses">
							<tr>
								<th class="mdl-data-table__cell--non-numeric">Email</th>
								<th>First Name</th>
								<th>Last Name</th>
								<th class="company">Company</th>
								<th>Is Active</th>
								<th>Mail Confirmed</th>
								<th>Is Admin</th>
								<th>Is Creator</th>
								<th>Action</th>
							</tr>
						</thead>
						<tfoot>
							<tr>
								<th class="mdl-data-table__cell--non-numeric">Email</th>
								<th>First Name</th>
								<th>Last Name</th>
								<th class="company">Company</th>
								<th>Is Active</th>
								<th>Mail Confirmed</th>
								<th>Is Admin</th>
								<th>Is Creator</th>
								<th>Action</th>

							</tr>
						</tfoot>

						<tbody id="userList">

						</tbody>
					</table>
				</div>
			</div>
	</div>
	<%- include('footer.ejs') %>

		<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
		<script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>
		<style>
			tfoot input {
				width: 100%;
				padding: 3px;
				box-sizing: border-box;
			}

			tfoot {
				display: table-header-group;
			}
		</style>
		<script>
			$(document).ready(function () {

				var user = JSON.parse(window.localStorage.getItem('authUser'));
				 if (user.IsAdmin == true && (user.IsSuperAdmin == false || user.IsSuperAdmin == null)) {
					$(".company").remove();
				}


				var data = {};
				data.companyId = JSON.parse(window.localStorage.getItem("authUser")).Company.CompanyId;
				//data.companyId = "59f7fd90-a363-4aeb-84f3-ced17c4351d7";
				data.token = window.localStorage.getItem('token');
				$.ajax({
					url: api + 'company/getusers',
					type: "POST",
					data: data,

					contentType: "application/x-www-form-urlencoded; charset=utf-8",
					success: function (response) {
						console.log(response);
						var html = "";
						for (i = 0; i < response.length; i++) {


							html += "<tr><td>" + response[i].Email + "</td>";
							html += "<td>" + response[i].FirstName + "</td>";
							html += "<td>" + response[i].LastName + "</td>";
							if (user.IsSuperAdmin == true) {
								if (response[i].userCompany != null) {
									html += "<td>" + response[i].userCompany.CompanyName + "</td>";
								}
								else {
									html += "<td>" + "Not Assigned" + "</td>";
								}
							}
							html += "<td>" + response[i].IsActive + "</td>";
							html += "<td>" + response[i].MailConfirmed + "</td>";
							html += "<td>" + response[i].IsAdmin + "</td>";
							html += "<td>" + response[i].IsCreator + "</td>";
							var act = '';
							var inact = '';
							if (response[i].IsActive) {
								act = 'selected';
							} else {
								inact = 'selected';

							}
							html += "<td><a><select name='IsActive' class='IsActive' user_id='" + response[i].Id + "'><option value=''>Status</option><option value='false' " + inact + ">Inactive</option><option value='true'  " + act + ">Active</option></select></a><a href='edituser?id=" + response[i].Id + "'>Edit</a></td></tr>";
						}

					$(".loading").hide();
					$("#mygrid").removeClass('hidden');
					
						$("#userList").append(html);

						// Setup - add a text input to each footer cell
						$('#mygrid tfoot th').each(function (index, val) {
							var title = $(this).text();

							var stat = '';
							var select = '';


							if (user.IsSuperAdmin == true) {
								if (index >= 4) {
									stat = 'class="hide filter_input"';

									if (index < 8) {

										select = '<select class="filter_select form-control"><option value="">Select</option><option value="true">True</option><option value="false">False</option></select>';

									}
								}

							} else {

								if (index >= 3) {
									stat = 'class="hide filter_input"';

									if (index < 7) {

										select = '<select class="filter_select form-control"><option value="">Select</option><option value="true">True</option><option value="false">False</option></select>';

									}
								}

							}





							$(this).html(select + '<input type="text" ' + stat + ' placeholder="' + title + '" />');
						});


						$('.filter_select').on('change', function () {




							$(this).next('.filter_input:hidden').val($(this).val());

							$(this).next('.filter_input:hidden').trigger("change");
							//  console.log($(this).next('.filter_input:hidden').val());



						});

						// DataTable
						var table = $('#mygrid').DataTable();

						// Apply the search
						table.columns().every(function () {
							var that = this;

							$('input', this.footer()).on('keyup change', function () {
								if (that.search() !== this.value) {
									that.search(this.value).draw();
								}
							});
						});


						$(".IsActive").on('change', function () {
							var IsActive = $(this).val();

							if (IsActive != '') {
								var data = {};
								data.token = window.localStorage.getItem('token');
								data.IsActive = IsActive;
								data.user_id = $(this).attr('user_id');
								$.ajax({
									url: api + 'user/setStatus',
									type: 'POST',
									data: data,
									contentType: "application/x-www-form-urlencoded; charset=utf-8",
									success: function (response) {
										if (response) {

											$.alert({
												title: 'Success',
												content: 'Status updated',
											});
										} else {

											$.alert({
												title: 'Error',
												content: 'Unable to update status',
											});
										}

									}

								});
							}


						});

					}
				});


			});

		</script>